article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

body{
  /*background-color: rgba(0, 0, 0, .13);*/

}
#start-game-button{
  margin:auto;
  margin-top: 100px;
  /*animation: breathe 2s infinite;*/

}
.fullwidth{
  min-width: 100%;
  padding: 0;
}

.container{
  width: 75%;
}

.final-question-container{
  margin-top: 5em;
  padding-bottom: 2em;
animation: bounceInFinal 1s;
background-color: #c8c8c8;
border-radius: 4px;
border: 1px solid rgba(100, 100, 100, 0.5);
}



.center-el{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  width: 150px;
  height: 100px;
  border-radius: 4px;
  background-color: #ce8508;
  color: white;
  box-shadow: 1px 1px 3px #000;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all 1s;
}
.box .box__blurb {
  opacity: 1;
  transform: translateX(45px);
  transition: opacity 0.5s 2s, transform 0.5s 0.5s;
}
.box .rect__blurb {
  opacity: 0;
  transform: translateX(500px);
  transition: opacity 0.5s 1s, transform 0.5s 1s;
}
.box:hover {
  width: 400px;
  background-color: orange;
  box-shadow: -5px 5px 25px #000;
}
.box:hover .box__blurb {
  opacity: 0;
  transform: translateX(-500px);
}
.box:hover .rect__blurb {
  opacity: 1;
  transform: translateX(-100px);
}

.about-box{
  background-color: #aaa;
  border: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 8px;
  font-family: 'Arapey';

  /*animation: aboutIn .7s;*/
}

.about-box h3{
  font-family: 'Arapey', cursive;
}
.about-box h2{
  font-family: 'Arapey', cursive;
}

.final-location-box{
  background-color: #eeeeee;
  border: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 16em;
  animation: bounceInFinal .4s;
  font-family: 'Arapey'
}

}
#start-button{
  position: relative;


}

.dark-header{
  background-color: rgba(100, 100,100, 0.3);
}

.question-box{
  margin-top: 5em;

  background-color: rgba(200,200,200,1);
  border: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  animation: bounceIn 1s;
  font-family: 'Arapey';
  border-radius: 5px;
  padding-bottom: 3em;
}

.btn-group{
  margin: 10px;
  margin-top: 25px;

}
.btn__spacer{
  margin-left: 20px !important;
  margin-right: 20px;
  border-radius: 4px !important;
}



@keyframes changeColor {
  0% {
    background-color: rgba(100,100,100,0.01);
    opacity: 0;
  }
  50% {
    background-color: rgba(255,255,255,0.5);
    transform: scale(1.3);
  }
  100% {
    background-color: rgba(100,100,100,0.4);
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes aboutIn {
  0% {
    background-color: #aaa;
    opacity: .6;
    transform: scale(0.8);
  }
  100% {
    background-color: #aaa;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes breathe {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.1);
  }
  100%{

    transform: scale(1);
  }
}


@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceInFinal {
  0% {
    transform: scale(.6);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1
  }
  100% {
    transform: scale(1);

  }
}

#nav-logo{
  color: #ce8508;

}

  .btn-color {
    background-color:#ce8508;
    color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
}
.btn-color:hover {
   background-color:#ce7000;
   color: #FFFFFF;
   box-shadow: 1px 1px 1px black;
   background-image: linear-gradient(to bottom,#ce7000 0,#ce8000 100%);
   transform: scale(1.3) ;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.login-box{
  background-color: rgba(100, 100, 100, 0.5);
  height: 500px;
  /*margin-top: 5em;*/

}
#login-area{
  margin-top: 5em;

}



.question-img {
  animation: bounceIn 1.5s;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: 'Arapey'
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #ce7000;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* Kuro */
.input--kuro {
	max-width: 320px;
	margin-bottom: 3em;
}

.input__field--kuro {
	width: 100%;
	background: transparent;
	color: #9196A1;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--kuro {
	position: absolute;
	left: 0;
	width: 100%;
	color: #ce7000;
	pointer-events: none;
}

.input__label--kuro::before,
.input__label--kuro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border: 4px solid #747981;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--kuro::before {
	border-right: none;
}

.input__label--kuro::after {
	left: 50%;
	border-left: none;
}

.input__field--kuro:focus,
.input--filled .input__field--kuro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--kuro:focus + .input__label--kuro::before,
.input--filled .input__label--kuro::before {
	-webkit-transform: translate3d(-10%, 0, 0);
	transform: translate3d(-10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro::after,
.input--filled .input__label--kuro::after {
	-webkit-transform: translate3d(10%, 0, 0);
	transform: translate3d(10%, 0, 0);
  animation-fill-mode: forwards;
}

.input__field--kuro:focus + .input__label--kuro .input__label-content--kuro,
.input--filled .input__label-content--kuro {
	-webkit-animation: anim-2 0.3s forwards;
	animation: anim-2 0.3s ;
  animation-fill-mode: forwards;
}

@-webkit-keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}

@keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}
.bgcolor-4 { background: #2f3238; color: #fff; }

#name-span{
  max-width: 300px;
  margin-top: 50px;

}
#login-title{
  margin-top: 20px;
  font-family: 'Arapey';
  font-size: 47px
}
#main-title{
  margin-top: 20px;
  font-family: 'Arapey';
  font-size: 66px;


}
#login-span{
  max-width: 250px;
  background-color: rgba(100, 100, 100, 0.2);
}

#start-button{
  padding: 10px;
  margin: 10px;
  width: 90px;
}
.navbar{
  margin-bottom: 0;
}
.thumbnail{
  margin:.6em;
}
.jumbotron{
  margin-bottom: 0;
  background-image: url(../img/jumbo2.jpg);
  background-size: cover;
}

#main-span{
  width:100%;
  background-color: rgba(0,0,0, 0.8);
  padding: 5px;
  padding-bottom: 7px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;

}
#page-title{
opacity: 1;
color: #ce7000;
font-family: 'Arapey';
font-size: 70px;
}

#play__button{
  background-color: #ce7000;
  background-image: linear-gradient(to bottom,#ce6000 0,#ce7000 100%);
  font-family: 'Arapey';
  font-size: 26px;
  margin-top: 45px;
  box-shadow: 0px 0px 10px #000;
}

#submit-question-btn{
  background-color: #ce7000;
  background-image: linear-gradient(to bottom,#ce6000 0,#ce7000 100%);
  font-family: 'Arapey';
  font-size: 34px;
  margin-top: 10px;

  color: #fff;
  height: 60px;
  width: 200px;
}

#submit-final-btn{
  background-color: #ce7000;
  background-image: linear-gradient(to bottom,#ce6000 0,#ce7000 100%);
  font-family: 'Arapey';
  font-size: 26px;
  margin-top: 10px;
  color: #fff;
  height: 60px;
  width: 200px;
}

#location-text1{
  font-size: 50px;
  animation: breathe 20s infinite;
margin-bottom: 10px !important;
}
#location-text1:hover{

}
#location-text2{
  font-size: 30px;
  margin-bottom: 50px;
}
#final-location-btm{
  margin-bottom: 33.5px;
}
#text-spacer{
  margin-bottom: 50px;
}
