<!-- this is where the login (SECRET_TOKEN) input will be -->

<div class="login">
    <input type="text" name="login_input" placeholder="Login Here" value="">
</div>


<!-- this is where questions will be generated  -->
<div ng-if="$ctrl.questionToggleFlag" class="">
    <div class="container">
        <div ng-repeat="question in $ctrl.allQuestions" class="">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <h3> {{ question.title }} </h3>
                <div class="img-question-wrapper">
                    <img ng-src="{{question.image}}" class="img-responsive" alt="">
                </div>
                <p> {{ question.text }} </p>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <input type="text" name="question_input" placeholder="Solution Here" value="" ng-model="$ctrl.questionAnswer">
                    <button type="button" name="button" ng-click="$ctrl.questionSubmit(question)">SUBMIT ANSWER</button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- end of questions container -->




<!-- this is where the finalQuestionInput will be in ng-if, which is tied to user outcome from final question, if all questions pass then the input bar will show up  -->

<div ng-if="$ctrl.finalQuestionToggleFlag" class="final-question-container col-md-12 col-sm-12 col-xs-12">
    <div class="">
        <h1>final_quest_here</h1>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="">{{$ctrl.finalQuestion[0].title}}</h2>
            <div class="">
                <img ng-src="{{$ctrl.finalQuestion[0].image}}" alt="">
            </div>
            <p>{{$ctrl.finalQuestion[0].text}}</p>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <input ng-model="$ctrl.finalAnswer" type="text" name="question_input" placeholder="Solution Here" value="">
                <button type="button" name="button" ng-click="$ctrl.finalSubmit()">SUBMIT ANSWER</button>
            </div>
        </div>
    </div>

</div>

<!-- when the user submits the finalQuestionInput the HANDSHAKE function fires and sends an SMS to the user -->

<div class="col-md-12 col-sm-12 col-xs-12 final-question-feedback">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <input type="text" name="" placeholder="Enter Phone Number" value="">
    </div>
</div>



<!-- ENDING: this is where the final clue (location of GPS_POSTER, poster conatins multiple user login/pass  that are hardcoded into the CAPSTONE_PAGE) will show up (after user login with correct SECRET_TOKEN) -->



<!-- tech needed:
 HOSTED SITE
 RPI SERVER (running forever)
 QR code generator
 SMS api
 custom form validation
 GPS / location service
 CHAT room / service
-->


<!-- question data:
gps location
code challenge based on cipher
binary convert to decimal
book / word list (stack-overflow) problem
console.log hidden msg on surge site  -->
