<!-- this button begins the game -->

<style >
  body{

    background-image:
    linear-gradient(
      to right,
      #595950,
      #595959 15%,
      #FFFFFf 15%,
      #FFFFFf 85%,
      #595959 85%
    ) !important;
  }
</style>
<div ng-hide="$ctrl.beginToggle" class="container text-center center-block">
  <div class="jumbotron">
    <h1 id="main-title">Welcome to Galvanize Mystery</h1>

    <p><a class="btn btn-primary btn-lg" ng-click="$ctrl.beginToggle=true" href="" role="button">Play</a></p>
  </div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12 center-el">

<div class="container about-box text-center center-block" ng-hide="$ctrl.beginToggle">


  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h3>Section 1</h3>
        <img src="media/front.png" alt="...">
        <div class="caption">
          <p>Frontend</p>
          <p>questions that test knowledge of html and css are the first subject</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h3>Section 2</h3>
        <img src="media/mids.png" alt="...">
        <div class="caption">
          <p>Middleware</p>
          <p>Data delivery is covered here, expect challenges that make you move</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h3>Section 3</h3>
        <img src="media/back.png" alt="...">
        <div class="caption">
          <p>Backend</p>
          <p>Data types, persistance and conversion are the topics in this section</p>
        </div>
      </div>

    </div>
  </div>



<div class="row">
  <h2>An interactive three part puzzle solved using computer science and web development knowledge!</h2>

</div>
  <div  ng-hide="$ctrl.beginToggle" class="text-center center-block">



    <!-- <div class="box" id="start-game-button" ng-click="$ctrl.beginToggle = true">
      <span class="box__blurb ">CLICK</span>
      <span class="rect__blurb">TO PLAY THE GAME</span>
    </div> -->
  </div>
</div>



</div>

<!-- this is where questions will be generated  -->

<div ng-if="$ctrl.beginToggle">
    <div ng-if="$ctrl.questionToggleFlag" class="">
        <div class="">
            <div ng-repeat="question in $ctrl.allQuestions" class="">
                <div ng-if="$ctrl.counter === question.id" class="col-md-12 col-sm-12 col-xs-12 center-block text-center ">
                  <div class="container ">
                      <div class="question-box">
                    <h3 class="text-center"> {{ question.title }} </h3>
                    <h1 class="text-center"> {{ question.text }} </h1>

                    <div class="container" id="img-wrapper">
                      <img ng-src="{{question.image}}" class="img-responsive center-block question-img" width="400" alt="image">

                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12">

                      <div class="btn-group" data-toggle="radios">
                        <label class="btn  btn-color">
                          <input type="radio" name="question_input" id="questionRadios1" value="option1" ng-model="$ctrl.questionAnswer" > ANSWER A
                        </label>
                        <label class="btn  btn-color">
                          <input type="radio" name="question_input" id="questionRadios2" value="option2" ng-model="$ctrl.questionAnswer" > ANSWER B
                        </label>
                        <label class="btn btn-color">
                          <input type="radio" name="question_input" id="questionRadios3" value="option3" ng-model="$ctrl.questionAnswer" > ANSWER C
                        </label>

                      </div>

                    </div>

                    <button type="button" name="button" class="btn-color btn-submit" ng-click="$ctrl.questionSubmit(question)">SUBMIT ANSWER</button>

                    </div>
                  </div>

                </div>

            </div>
        </div>
    </div>
</div>



<!-- end of questions container -->



<!-- this is where the finalQuestionInput will be, if all questions pass then the input bar will show up  -->

<div ng-if="$ctrl.finalQuestionToggleFlag" class="final-question-container col-md-12 col-sm-12 col-xs-12">
    <div class="container">

        <div class="col-md-12 col-sm-12 col-xs-12 center-block text-center">
            <h3 class="">{{$ctrl.finalQuestion[0].title}}</h3>
            <h1>{{$ctrl.finalQuestion[0].text}}</h1>
            <div class="final-image-wrapper">

                <img ng-src="{{$ctrl.finalQuestion[0].image}}" class="img-responsive question-img center-block" width="400" alt="">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="btn-group" data-toggle="radios">
                    <label class="btn btn-color">
<input type="radio" name="question_input" id="final-question-radios1" value="option1" ng-model="$ctrl.finalAnswer" > ANSWER A
</label>
                    <label class="btn btn-color">
<input type="radio" name="question_input" id="final-question-radios2" value="option2" ng-model="$ctrl.finalAnswer" > ANSWER B
</label>
                    <label class="btn btn-color">
<input type="radio" name="question_input" id="final-question-radios3" value="option3" ng-model="$ctrl.finalAnswer" > ANSWER C
</label>

                </div>

            </div>
            <button type="button" name="button" class="btn-color" ng-click="$ctrl.finalSubmit()">SUBMIT ANSWER</button>
        </div>
    </div>

</div>

<!-- when the user submits the finalQuestionInput the HANDSHAKE function fires and sends an SMS to the user -->


<!-- HANDSHAKE function needs to pivot around working platform or api, email, sms and push notifications ALL fail currently!!! -->
<!--
<div class="sms-form" ng-if="$ctrl.smsFormToggleFlag">

<div class="col-md-12 col-sm-12 col-xs-12 final-question-feedback">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <input type="text" name="" placeholder="Enter Phone Number" ng-model="$ctrl.handshake.phone" value="">
        <button type="button" name="button" ng-click="$ctrl.handshakeFunction()">SUBMIT</button>
    </div>
</div>
</div> -->



<!-- this is where the clue to the next section goes -->


<div ng-if="$ctrl.section2InfoFlag" class="container">
    <div class="col-md-12 col-sm-12 center-block text-center final-location-box">


        <h1 id="location-text1">F0110w th3 #ffffff oryctolagus cuniculus</h1>
        <p id="location-text2">0x28DOTzero0x28647COMMAnegitive0x69DOT0x199E836595FE</p>
        <h3>Users that do not reside in Boulder, Co. </h3>
        <p>Please click <a href="http://section-2-keegan-capstone.surge.sh/">HERE</a> to continue!</p>


    </div>

</div>
