<div class="col-md-12 col-sm-12 col-xs-12">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">G | M</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <!-- nav menu level links can go here -->
        <li><a ng-if="$ctrl.adminFlag" href="#">HIDDEN_Admin</a></li>
        <li><a href="http://keegan.capstone.surge.sh/index.html">About</a></li>
        <!-- <li><a href="../landing.html">Landing</a></li> -->
        <li role="separator" class="divider"></li>
        <li><a href="#" ng-click="$ctrl.loginFlagToggle()" >login</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="login-box" ng-if="$ctrl.loginFlag">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-sm-4 col-md-4 col-xs-4">

    </div>
    <div class="col-sm-4 col-md-4 col-xs-4">
      <input type="text" name="login_user" placeholder="User" ng-model="$ctrl.userLogin.name" value="">
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4">

    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-sm-4 col-md-4 col-xs-4">

    </div>
    <div class="col-sm-4 col-md-4 col-xs-4">
      <input type="text" name="login_pass" placeholder="Password" ng-model="$ctrl.userLogin.password" value="">
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4">

    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-sm-4 col-md-4 col-xs-4">

    </div>
    <div class="col-sm-4 col-md-4 col-xs-4">

    <button type="button" name="button" ng-click="$ctrl.userLoginVerify()">LOGIN</button>
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4">

    </div>
  </div>
  </div>
